<!DOCTYPE html>
<html>
<head>
    <style>
        
        
  
        .container {
            display: inline-flex;
            flex-wrap: nowrap; 
            justify-content: center;
            align-items: center; 
            
        }
        .box {
            width: 200px;
             height: 200px;
            border: 1px solid black;
            background-color: var(--color);
            margin: 10px; 
            display: inline-block;
            }
        </style>
</head>
<body>
    <div style="text-align:center"><h1>Playground</h1></div>
    
    {% for i in range(num|int) %}
    <div class="container"></div>
    <div style="--color: {{myCol}}" class="box"></div>
</div>

{% endfor %}

    
    

</body>
</html>
